<main class="d-flex flex-column mt-2 mx-auto col-10">
    <h1 class="text-center">New Category</h1>
    <div class="d-flex flex-column mx-auto col-5">
        <label for="cat" class="text-light">What's the name of the new Category?</label>
        <input type="text" id="cat">
        <button id="submitBtn" class="col-6 bg-dark text-light rounded mx-auto mt-2">Submit</button>
    </div>
</main>