<main class="d-flex flex-column mt-2 mx-auto col-10">
    <h1>Which part of the Resume do you want to edit?</h1>
    <h2>Skills</h2>
        <div class="d-flex flex-column my-1 ml-4">
            <a href="#" class="text-light">Create a Skill Category</a>
            <a href="#" class="text-light">Delete a Skill Category</a>
            <a href="#" class="text-light">Edit a Skill Category</a>
            <a href="#" class="text-light">Update Skills in a Category</a>
        </div>
    <h2>Experience</h2>
        <div class="d-flex flex-column my-1 ml-4">
            <a href="#" class="text-light">Create an Employer</a>
            <a href="#" class="text-light">Delete an Employer</a>
            <a href="#" class="text-light">Edit an Employer</a>
            <a href="#" class="text-light">Create a Role</a>
            <a href="#" class="text-light">Delete a Role</a>
            <a href="#" class="text-light">Edit a Role</a>
        </div>
    <h2>Education</h2>
        <div class="d-flex flex-column my-1 ml-4">
            <a href="#" class="text-light">Create a School</a>
            <a href="#" class="text-light">Delete a School</a>
            <a href="#" class="text-light">Edit a School</a>
            <a href="#" class="text-light">Create a Degree</a>
            <a href="#" class="text-light">Delete a Degree</a>
            <a href="#" class="text-light">Edit a Degree</a>
        </div>
</main>